*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --base: #12372A;
  --basegreen: #436850;
  --yellow: #ADBC9F;
  --yellow-100: #FBFADA;
  --blackgreen: #435334
}


.navbar {
    position: absolute;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    
    right: 2%;
    top: 0;
  
    
    ul {
      list-style: none;
      background-color: var(--yellow-100);
      border: solid 3px var(--blackgreen);
      border-radius: 10px;
      
  
      li {
        display: flex;
        justify-content: center;
        padding: 2rem 1rem 2rem 1rem;
        i {
          font-size: 25px;
          color: var(--base);
        }
      }
    }
  
  }